<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hey</title>
    <link rel="stylesheet" type="text/css" href="index.css"/>
</head>
<body>
<!--<img class="headimg" src="../image/网站.png"/>-->
<!--<img class="headImg" src="../image/网站.png"/>-->
<img class="headImg" src="../index/image/背影画板 1.png" height="320" width="1366"/>
<div class="bodydiv">
    <div class="imgdiv">
        <img class="icon" src="../index/image/beiyinglaomingming.png"/>
        <ul>

            <li><a href="#about">关于</a></li>
            <li><a href="#contact">先留着</a></li>
            <li><a href="#news">小玩具</a></li>
            <li class="dropdown"><a href="#home">Home</a>
                <!--<div class="dropdown-content">-->
                <!--<p>菜鸟教程</p>-->
                <!--<p>www.runoob.com</p>-->
                <!--</div>-->
            </li>
        </ul>
    </div>
    <div id="intro">
        <p>王尔德：年轻的时候我以为钱就是一切，现在老了才知道，确实如此。</p>

        <p>爱因斯坦：把你的手放在滚热的炉子上一分钟，感觉起来像一小时。坐在一个漂亮姑娘身边整整一小时，感觉起来像一分钟。这就是相对论。</p>


        <p>不成熟的人为了伟大的事业英勇地死去，成熟的人为了伟大的事业而卑贱地活着。   -----《麦田里的守望者》</p>

        <p>如果没见过太阳，我本可以忍受黑暗。</p>

        <p>逗比没什么不好，但是因为你给的嬉笑太盛，于是没有人再欣赏你的认真。</p>

        <p> “愿中国青年都摆脱冷气，只是向上走，不必听自暴自弃者流的话。能做事的做事，
        能发声的发声。有一分热，发一分光。就令萤火一般，也可以在黑暗里发一点光，不必等候炬火。此后如竟没有炬火，我便是唯一的光……”
        ——鲁迅《热风》</p>

        <p>我曾七次鄙视自己的灵魂： 第一次，当它本可进取时，却故作谦卑； 第二次，当它在空虚时，用爱欲来填充；
        第三次，在困难和容易之间，它选择了容易 ；第四次，它犯了错，却借由别人也会犯错来宽慰自己；
        第五次，它自由软弱，却把它认为是生命的坚韧 ； 第六次，当它鄙夷一张丑恶的嘴脸时，却不知那正是自己面具中的一副；
        第七次，它侧身于生活的污泥中，虽不甘心，却又畏首畏尾。</p>

        <p>以德报怨，何如？何以报德，以直报怨，以德报德</p>
    </div>

</div>

</body>

</html>